include ../layout/header
<body>
<div class="dashboard-area">

    include ../layout/sidebar
    include ../layout/topnav
        <div class="dashboard-main">
            <div class="breadcrumbs">
                <h1>All Users</h1>
                <ul>
                    <li><a href="#">Users</a></li>
                    <li>All Users</li>
                </ul>
            </div>

            <div class="dashboard-main-panel">
                <div class="user-page-content">
                    <div class="custom-datatable">
                        <table class="table nowrap table-bordered dTable" style="width:100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Full name</th>
                                    <th>Email address</th>
                                    <th>Phone number</th>
                                    <th>Submit Form</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        <div class="name">
                                            <img src="images/pic3.png" alt=""> John Deo
                                        </div>
                                    </td>
                                    <td>johndeo@gmail.com</td>
                                    <td>+1-1234567890</td>
                                    <td>34</td>
                                    <td>
                                        <span class="active-tag">Active</span>
                                    </td>
                                    <td>
                                        <div class="action-box">
                                            <a href="#" class="view-btn"><img src="images/view-icon.png" alt=""></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>
                                        <div class="name">
                                            <img src="images/pic3.png" alt=""> John Deo
                                        </div>
                                    </td>
                                    <td>johndeo@gmail.com</td>
                                    <td>+1-1234567890</td>
                                    <td>34</td>
                                    <td>
                                        <span class="active-tag">Active</span>
                                    </td>
                                    <td>
                                        <div class="action-box">
                                            <a href="#" class="view-btn"><img src="images/view-icon.png" alt=""></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>
                                        <div class="name">
                                            <img src="images/pic3.png" alt=""> John Deo
                                        </div>
                                    </td>
                                    <td>johndeo@gmail.com</td>
                                    <td>+1-1234567890</td>
                                    <td>34</td>
                                    <td>
                                        <span class="active-tag">Active</span>
                                    </td>
                                    <td>
                                        <div class="action-box">
                                            <a href="#" class="view-btn"><img src="images/view-icon.png" alt=""></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>
                                        <div class="name">
                                            <img src="images/pic3.png" alt=""> John Deo
                                        </div>
                                    </td>
                                    <td>johndeo@gmail.com</td>
                                    <td>+1-1234567890</td>
                                    <td>34</td>
                                    <td>
                                        <span class="active-tag">Active</span>
                                    </td>
                                    <td>
                                        <div class="action-box">
                                            <a href="#" class="view-btn"><img src="images/view-icon.png" alt=""></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>
                                        <div class="name">
                                            <img src="images/pic3.png" alt=""> John Deo
                                        </div>
                                    </td>
                                    <td>johndeo@gmail.com</td>
                                    <td>+1-1234567890</td>
                                    <td>34</td>
                                    <td>
                                        <span class="deactive-tag">Deactivate</span>
                                    </td>
                                    <td>
                                        <div class="action-box">
                                            <a href="#" class="view-btn"><img src="images/view-icon.png" alt=""></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>
                                        <div class="name">
                                            <img src="images/pic3.png" alt=""> John Deo
                                        </div>
                                    </td>
                                    <td>johndeo@gmail.com</td>
                                    <td>+1-1234567890</td>
                                    <td>34</td>
                                    <td>
                                        <span class="blocked-tag">Blocked</span>
                                    </td>
                                    <td>
                                        <div class="action-box">
                                            <a href="#" class="view-btn"><img src="images/view-icon.png" alt=""></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>
                                        <div class="name">
                                            <img src="images/pic3.png" alt=""> John Deo
                                        </div>
                                    </td>
                                    <td>johndeo@gmail.com</td>
                                    <td>+1-1234567890</td>
                                    <td>34</td>
                                    <td>
                                        <span class="active-tag">Active</span>
                                    </td>
                                    <td>
                                        <div class="action-box">
                                            <a href="#" class="view-btn"><img src="images/view-icon.png" alt=""></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>
                                        <div class="name">
                                            <img src="images/pic3.png" alt=""> John Deo
                                        </div>
                                    </td>
                                    <td>johndeo@gmail.com</td>
                                    <td>+1-1234567890</td>
                                    <td>34</td>
                                    <td>
                                        <span class="active-tag">Active</span>
                                    </td>
                                    <td>
                                        <div class="action-box">
                                            <a href="#" class="view-btn"><img src="images/view-icon.png" alt=""></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>
                                        <div class="name">
                                            <img src="images/pic3.png" alt=""> John Deo
                                        </div>
                                    </td>
                                    <td>johndeo@gmail.com</td>
                                    <td>+1-1234567890</td>
                                    <td>34</td>
                                    <td>
                                        <span class="active-tag">Active</span>
                                    </td>
                                    <td>
                                        <div class="action-box">
                                            <a href="#" class="view-btn"><img src="images/view-icon.png" alt=""></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>
                                        <div class="name">
                                            <img src="images/pic3.png" alt=""> John Deo
                                        </div>
                                    </td>
                                    <td>johndeo@gmail.com</td>
                                    <td>+1-1234567890</td>
                                    <td>34</td>
                                    <td>
                                        <span class="active-tag">Active</span>
                                    </td>
                                    <td>
                                        <div class="action-box">
                                            <a href="#" class="view-btn"><img src="images/view-icon.png" alt=""></a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    
</body>

    include ../layout/footer
