include ../layout/header
<body>
    <!-- <div class="loadScreen"><img src="#{process.env.APP_URL}public/images/page-loading.gif" alt=""></div> -->
    <section class="login-page-wrapper">
        <div class="loginRegister_form_outer">
            <div class="loginRegister_form">
                <div class="logo"><img src="#{process.env.APP_URL}public/images/login_logo.png" alt=""></div>
                <form action="#{process.env.ADMIN_URL}ResetLink" method="post">
                    <h3>Forgot Password</h3>
                    <p>Enter your registered email address. We will send to link to reset the password.</p>
                    <div class="input_field">
                        <strong>Email address</strong>
                        <input type="email" name="" class="required" placeholder="Enter Email address" required>
                    </div>
                    <div class="space1"></div>
                    <div class="input_field submit">
                        <input type="submit" value="Send">
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
include ../layout/footer
